* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 2.5rem;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  margin-left: 150px;
  margin-top: 55px;
}

h2 {
  font-size: 2rem;
  color: whitesmoke;
  text-shadow: 2px 2px black;
}

.main-container {
  margin: 2rem;
  outline: 1px solid black;
  padding: 1px 1px;
  background-color: #6823cc;
}

.container {
  display: flex;
  margin: 2rem;
  align-items: center;
  justify-content: center;
}

.scores-title {
  display: flex;
}

.refresh-btn {
  padding: 0.2rem;
  align-self: center;
  margin-left: 3rem;
  box-shadow: 5px 5px;
}

.scores-list {
  list-style: none;
  margin-top: 1rem;
  border: 2px solid #000;
}

.item {
  background-color: rgb(218, 218, 218);
  padding: 0.3rem;
}

.item:nth-child(odd) {
  background-color: #fff;
}

.add-score {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > * {
  margin-top: 1rem;
}

.input {
  padding: 0.2rem;
  outline: 1px solid black;
}

.submit-btn {
  align-self: end;
  padding: 0.2rem;
  box-shadow: 5px 5px;
}
